.reIcon
{
   display: flex;
   justify-content: center;
   align-items: center;
}
.reAmount {
    font-family: proxima-nova,Avenir,sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    word-break: break-all;
    text-align:right;
    font-weight: 700;
}
.green {
    color:green;
}
.panel-wrapper
{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  color: #4f566b;
  font-variant-numeric: proportional-nums;
  font-family: proxima-nova,Avenir,sans-serif;
  line-height: 1.5;
}
 .propRow, .propRow--no-margin {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
}

 .propRow {
    margin-left: -10px;
    margin-right: -10px;
}

.panel-wrapper.column .panel-property--list {
    margin-top: 20px;
    flex-direction: column;
    flex: 1 0 auto;
}

.panel-property--list {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.panel-wrapper.column .panel-property--list .m-panel__body {
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    flex: 1 0 auto;
}

.panel-property--list .m-panel__body {
    padding: 0;
}
.panel-wrapper.column .panel-property--list .m-panel__body .body-detail {
    padding: 15px;
    display: flex;
}
.propPanelBody
{
  border-radius: 6px;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  border: 3px solid #f1f1f1;

}
/* The popup desc - hidden by default */
.desc-popup {
  display: none;
  border: 3px solid #f1f1f1;

}
/* The popup desc - hidden by default */
.loc-popup {
  display: none;
  border: 3px solid #f1f1f1;

}

.formRow {
  margin-left: 1%;
  margin-right: 5%;
}
.calendarIcon {
    position: absolute;
    right: 5%;
    top: 40%;
    min-width: auto;
    height: 23px;
    border: none;
    border-left: 0 solid;
    border-radius: 0;
    background-color: initial;
    border: 1px solid #edf0f5;
    background: #f6f9fc;
    color: #4f566b5c;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border .2s linear 0s,box-shadow .2s linear 0s,color .2s linear 0s,box-shadow .2s linear 0s,background .2s linear 0s;
}
